asttokens==2.0.5
backcall==0.2.0
cffi==1.15.0
chardet==4.0.0
click==8.1.2
colorama==0.4.4
configparser==5.2.0
debugpy==1.6.0
decorator==5.1.1
distro==1.7.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Flask==2.1.1
ghostscript==0.7
gunicorn==20.1.0
importlib-metadata==4.11.3
ipykernel==6.13.1
ipython==8.4.0
jedi==0.18.1
Jinja2==3.1.1
jupyter-client==7.3.2
jupyter-core==4.10.0
MarkupSafe==2.1.1
nest-asyncio==1.5.5
numpy==1.22.3
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
pandas==1.4.1
parso==0.8.3
pdfminer.six==20220319
pickleshare==0.7.5
prompt-toolkit==3.0.29
psutil==5.9.1
pure-eval==0.2.2
pycparser==2.21
Pygments==2.12.0
PyMySQL==1.0.2
pyparsing==3.0.9
PyPDF2==2.9.0
python-dateutil==2.8.2
pytz==2022.1
shutils==0.1.0
stack-data==0.2.0
tabula-py==2.4.0
Werkzeug==2.1.1
